#{{{ Markdown
snippet codeblock "```{.python .input}" wA
\`\`\`{.python .input}
$1
\`\`\`
$0
endsnippet

snippet bashblock "``" wA
\`\`\`BASH
$ $1
\`\`\`
$0
endsnippet

snippet tt "`" w
\`$1\`$0
endsnippet

snippet it "_" w
_$1_$0
endsnippet

snippet bf "__" w
__$1__$0
endsnippet
#}}}

#{{{ Latex
snippet mk "$$" wA
$$1$$0
endsnippet
#}}}
