snippet mk "<></>" wA
<$1>$2</$1>$0
endsnippet

snippet include "{% include %}" w
{% include $1 %}$0
endsnippet

snippet href "href=" iA
href="$1"$0
endsnippet

snippet frontmatter "---" wA
---
layout: $1
title: $2
---
endsnippet

snippet key "{{}}" wA
{{${1:Key}}}$0
endsnippet

snippet helloworld "hello world page" w
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
endsnippet
