snippet code "```" w
\`\`\`$1
$0
\`\`\`
endsnippet

snippet codebash "```BASH" w
\`\`\`BASH
\$ $0
\`\`\`
endsnippet

snippet bf "__ $1 __" wi
__$1__$0
endsnippet

snippet it "_ $1 _" wi
_$1_$0
endsnippet

snippet tt "` $1 `" wi
\`$1\`$0
endsnippet
