snippet bf "*bold*" w
*$1*$0
endsnippet

snippet it "_italic_" w
_$1_$0
endsnippet

snippet mk "$tex$" w
\$$1\$$0
endsnippet

snippet cd "`code`" w
\`$1\`$0
endsnippet

snippet cb "{{{$1}}}" w
{{{$1
$0
}}}
endsnippet
