snippet docs
        """$1"""

snippet docb
        """$1
        """

snippet docp
        Parameters
        ----------$1

snippet docr
        Returns
        -------$1

snippet doce
        Expects
        -------$1
snippet docf
        Fixtures
        --------$1
