snippet sep "%%%... % Text... %%%" b
%%%%%%%%%%%%%%%%%%%%
% ${1}
%%%%%%%%%%%%%%%%%%%%
${0}
endsnippet

snippet \\\ "\textbackslash" i
\\textbackslash ${0}
endsnippet

snippet \{ "\{ .. \}" i
\\{${1}\\}${0}
endsnippet

snippet itemize "\begin{itemize} ... \end{itemize}"
\\begin{itemize}
    \\item $1
\\end{itemize}
endsnippet
