snippet sep "Comment seperator" b
%%%%%%%%%%%%%%%%%%%%
% ${1}
%%%%%%%%%%%%%%%%%%%%
${0}
endsnippet

snippet b "Surround \textbf{$}"
\\textbf\{${VISUAL}\}$0
endsnippet

snippet i "Surround \textit{$}"
\\textit\{${VISUAL}\}$0
endsnippet
