snippet chapter "O=o= .... O=o="
"
" O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=
" O=o=
" O=o=          ${1}
" O=o=
" O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=o=O=
"
endsnippet

snippet section "==== .... ====" b
" +=+=          ${1}
" +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
endsnippet

snippet subsection "---- .... ----" b
" == ${1}
" -------------------------
endsnippet

snippet subsubsection ".... .. ...." b
" ${1}"
" .........
endsnippet

