snippet section "{{ S"
" {{{ S ${1:Section}
" ${2:Description}
"
${0}
" }}}
endsnippet

snippet subsection "{{{ +s"
" {{{ +s ${1:Subsection}
${0}
" }}}
endsnippet

snippet item "{{{ -i"
" {{{ -i ${1:Item}
${0}
" }}}
endsnippet

snippet function "{{{ F"
" {{{ F ${1:Function}
${0}
" }}}
endsnippet

snippet fixme "{{{ Fix"
" {{{ Fix ${1:fixme}
${0}
" }}}
endsnippet
